.container {
    width: 50%;
    background-color: #F0F8FF;
}
.form-group {
    margin-top: 70px;
    padding: 30px;
}
.form-control {
    height: 50px;
}
.btn-info {
    margin-top: 20px;
}

ul {
    width: 40%;
    margin: 0 auto;
}
li {
    margin-top: 30px;
    list-style: none;
}
li button {

    float: right;
    margin-left: 5px;
}
.my-class {
  background-color: red;
}
